Repository glenxoseph/ECSE428Project, pull requests merged in 2021-11, with the labels that each got.

#57 Created dynamic CreateAccount page
  428-frontend/src/components/CreateAccount.vue
  428-frontend/src/components/SignIn.vue
  428-frontend/src/router/index.js
Labels: duplicate, enhancement, frontend

#55 Front end for delete account and change email
  .vs/ECSE428Project/v16/.suo
  .vs/slnx.sqlite
  428-frontend/src/components/ChangeEmail.vue
  428-frontend/src/components/DeleteAccount.vue
  428-frontend/src/components/Settings.vue
  428-frontend/src/router/index.js
Labels: enhancement, UI, frontend

#61 Added error handling to the dynamic UI pages
  428-frontend/src/components/BannedAccounts.vue
  428-frontend/src/components/ChangeEmail.vue
  428-frontend/src/components/CreateAccount.vue
  428-frontend/src/components/DeleteAccount.vue
  428-frontend/src/components/Settings.vue
  428-frontend/src/components/SignIn.vue
  lib/src/main/java/ECSE428Project/service/AccountService.java
  lib/src/main/java/ECSE428Project/service/LoginService.java
Labels: enhancement, UI, frontend

#68 Added delete account controller and service tests
  lib/src/main/java/ECSE428Project/service/AccountService.java
  lib/src/test/java/ECSE428Project/controller/AccountControllerTest.java
  lib/src/test/java/ECSE428Project/service/AccountServiceTest.java
Labels: testing, backend

#66 Added controller methods for assignRank and assignScore to an account
  lib/src/main/java/ECSE428Project/controller/AccountController.java
Labels: enhancement, backend

#70 Added service method to assign score to account
  lib/src/main/java/ECSE428Project/controller/AccountController.java
  lib/src/main/java/ECSE428Project/service/AccountService.java
Labels: enhancement, backend

#76 Added quizSelection UI page
  428-frontend/src/components/Home.vue
  428-frontend/src/components/QuizSelection.vue
  428-frontend/src/router/index.js
Labels: UI, frontend

#74 Add service and integration testing for the assignScore methods
  lib/src/main/java/ECSE428Project/controller/AccountController.java
  lib/src/main/java/ECSE428Project/controller/DataTransferObjects.java
  lib/src/main/java/ECSE428Project/service/AccountService.java
  lib/src/test/java/ECSE428Project/controller/AccountControllerTest.java
  lib/src/test/java/ECSE428Project/service/AccountServiceTest.java
Labels: testing, backend

#78 Added Dynamic UI to ChangePassword
  428-frontend/src/components/ChangePassword.vue
Labels: UI, frontend

#79 Created solo game backend methods
  428-frontend/src/components/Home.vue
  428-frontend/src/components/QuizSelection.vue
  428-frontend/src/router/index.js
  lib/build.gradle
  lib/src/main/java/ECSE428Project/controller/MatchController.java
  lib/src/main/java/ECSE428Project/controller/QuestionController.java
  lib/src/main/java/ECSE428Project/controller/QuizController.java
  lib/src/main/java/ECSE428Project/controller/RoundController.java
  lib/src/main/java/ECSE428Project/dao/PlayerRepository.java
  lib/src/main/java/ECSE428Project/dao/QuizRepository.java
  lib/src/main/java/ECSE428Project/dao/RoundRepository.java
  lib/src/main/java/ECSE428Project/dto/AccountDto.java
  lib/src/main/java/ECSE428Project/dto/MatchDto.java
  lib/src/main/java/ECSE428Project/dto/PostGameStatDto.java
  lib/src/main/java/ECSE428Project/dto/QuestionDto.java
  lib/src/main/java/ECSE428Project/dto/QuizDto.java
  lib/src/main/java/ECSE428Project/model/Answer.java
  lib/src/main/java/ECSE428Project/model/GameMode.java
  lib/src/main/java/ECSE428Project/model/Match.java
  lib/src/main/java/ECSE428Project/model/Player.java
  lib/src/main/java/ECSE428Project/model/Question.java
  lib/src/main/java/ECSE428Project/model/QuestionTopic.java
  lib/src/main/java/ECSE428Project/model/Quiz.java
  lib/src/main/java/ECSE428Project/model/Round.java
  lib/src/main/java/ECSE428Project/service/AnswerService.java
  lib/src/main/java/ECSE428Project/service/MatchService.java
  lib/src/main/java/ECSE428Project/service/QuestionService.java
  lib/src/main/java/ECSE428Project/service/QuizService.java
  lib/src/main/java/ECSE428Project/service/RoundService.java
  lib/src/test/java/ECSE428Project/controller/GameplayTest.java
  lib/src/test/java/ECSE428Project/controller/MatchControllerTest.java
  lib/src/test/java/ECSE428Project/controller/QuizControllerTest.java
  lib/src/test/java/ECSE428Project/service/MatchServiceTest.java
  lib/src/test/java/ECSE428Project/service/QuestionServiceTest.java
  lib/src/test/java/ECSE428Project/service/QuizServiceTest.java
Labels: enhancement, backend

#82 Added dynamic name, multiplayer game popup, service and controller methods to get an account
  428-frontend/src/components/Home.vue
  428-frontend/src/main.js
  lib/src/main/java/ECSE428Project/controller/AccountController.java
  lib/src/main/java/ECSE428Project/service/AccountService.java
  lib/src/test/java/ECSE428Project/controller/AccountControllerTest.java
  lib/src/test/java/ECSE428Project/service/AccountServiceTest.java
Labels: UI, backend, frontend

#85 Create controller and service methods for getting questions for a quiz
  lib/src/main/java/ECSE428Project/controller/QuizController.java
  lib/src/main/java/ECSE428Project/service/QuizService.java
  lib/src/test/java/ECSE428Project/controller/QuizControllerTest.java
  lib/src/test/java/ECSE428Project/service/QuizServiceTest.java
Labels: enhancement, testing, backend

#89 Added dynamic match history UI page
  428-frontend/src/components/SoloGame.vue
  428-frontend/src/components/matchHistory.vue
  lib/src/main/java/ECSE428Project/controller/LeaderboardController.java
  lib/src/main/java/ECSE428Project/dao/LeaderboardRepository.java
  lib/src/main/java/ECSE428Project/dto/LeaderboardDto.java
  lib/src/main/java/ECSE428Project/model/Leaderboard.java
  lib/src/main/java/ECSE428Project/model/QuestionTopic.java
  lib/src/main/java/ECSE428Project/service/LeaderboardService.java
Labels: enhancement, UI, backend, frontend

#87 Create solo game dynamic UI page
  428-frontend/src/components/QuizSelection.vue
  428-frontend/src/components/SoloGame.vue
  428-frontend/src/components/matchHistory.vue
  428-frontend/src/router/index.js
  lib/src/main/java/ECSE428Project/controller/LeaderboardController.java
  lib/src/main/java/ECSE428Project/dao/LeaderboardRepository.java
  lib/src/main/java/ECSE428Project/dto/LeaderboardDto.java
  lib/src/main/java/ECSE428Project/dto/QuestionDto.java
  lib/src/main/java/ECSE428Project/model/Leaderboard.java
  lib/src/main/java/ECSE428Project/model/QuestionTopic.java
  lib/src/main/java/ECSE428Project/service/LeaderboardService.java
  lib/src/test/java/ECSE428Project/controller/QuizControllerTest.java
Labels: UI, frontend

#90 Minor solo game page modifications
  428-frontend/package.json
  428-frontend/src/components/QuizSelection.vue
  428-frontend/src/components/SoloGame.vue
  lib/src/main/java/ECSE428Project/dao/LeaderboardRepository.java
  lib/src/main/java/ECSE428Project/model/QuestionTopic.java
  lib/src/main/java/ECSE428Project/service/AccountService.java
Labels: UI, frontend

#94 Added assignRank method to UI
  428-frontend/src/components/matchHistory.vue
Labels: UI, frontend
